<html>
	<head>
		<title>Test Template in sc2tournament</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/ext/resources/css/ext-all.js" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/ext/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ext/ext-all-debug.js"></script>
	</head>
	<body>
		<p>This is a simple page to make sure that django &amp; extjs are working properly.</p>
		<p>More specifically it is useful for making sure staticfiles or your web server is configured correctly</p>
	</body>
</html>