<html>
<head>
    <script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dracula_graffle.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dracula_graph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dracula_algorithms.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/binary_tree.js"></script>
    <style type="text/css">
      body {
      overflow: hidden;
      }
    </style>
</head>
<body>
<div id="canvas"></div>
</body>
</html>
