<html>
	<head>
	<style type="text/css">
	
	div.badge {
		position: relative;
		padding: 10px 10px;
		width: 375px;
		height: 75px;
	}
	div.badge .portrait {
		/* all portraits need w/h */
		width: 75px;
		height: 75px;
		
		/* unique per badge */
		/* Provides fallback portrait */
		background-image: url('{{ STATIC_URL }}img/portraits-2-75.jpg');
		background-position: -0px -0px;
	}
	div.badge .title .name {
		position: absolute;
		top: 20px;
		left: 100px;
		width: 275px;
		font-family: sans-serif;
		font-size: large;
		font-weight: bold;
		text-align: right;
	}
	
	div.badge .title .code {
		/* for the character code part of a players name. */
		font-weight: 400;
		font-style: italic;
	}
	
	div.badge .title .extra {
		position: absolute;
		top: 45px;
		left: 100px;
		width: 285px;
		height: 40px;
		font-style: italic;
		font-size: small;
		text-align: right;
	}

	</style>
		<title>Test Template in sc2tournament</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/ext/resources/css/ext-all.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/ext/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ext/ext-all-debug.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ext/examples/form/states.js"></script>
		<script type="text/javascript">
			Ext.onReady(function() {
				/* Called by ExtJS once all the scripts have been loaded */
				
				var ds;
				
				function createDS() {
					ds = new Ext.data.Store({
						/* To hardcode or not hardcode the urls... */
						/* Need to put this into a JS library anyways eventually */
						proxy : new Ext.data.HttpProxy({
							url : '{% url sc2tournament.views.player_search %}',
							method: 'GET'
						}),
						reader : new Ext.data.JsonReader({
							totalPropery : 'total',
							root : 'players',
							fields : ['name', 'region', 'character_code', 'portrait_row', 'portrait_column', 'portrait_iconset']
						})
					});
				}
				
				createDS();
				
				
				var grid;
				
				
				function createGrid() {
					grid = new Ext.grid.GridPanel({
						store : ds,
						cm : new Ext.grid.ColumnModel([
							{id:'name', header:'Character Name', sortable: true, dataIndex : 'name'},
							{id:'character_code', header:'Character Code', sortable: false, dataIndex : 'character_code'},
							{id:'region', header:'Account Region', sortable: false, dataIndex : 'region'},
							{id:'portrait_iconset', header:'File containing portrait', sortable: false, dataIndex : 'portrait_iconset'},
							{id:'portrait_row', header:'Portrait Row', sortable: false, dataIndex : 'portrait_row'},
							{id:'portrait_column', header:'Portrait Column', sortable: false, dataIndex : 'portrait_column'},
						]),
						sm : new Ext.grid.RowSelectionModel({
							singleSelect : true,
							listeners : {
								rowSelect : function (model, rowIndex, record){
									/* When they select a row from the grid do stuff here */
									var readableName = record.data['name'] + "#" + record.data['character_code'];
									console.info(readableName + " was selected.");
									Ext.getCmp('q').setValue(readableName);
								}
							}
						}),
						viewConfig : { forceFit : true },
						width : 600,
						stripeRows : true,
						title : 'Player Search Results',
						iconCls : 'icon-grid',
						renderTo : "playersGrid",
						autoHeight : true
					});
					/*
					grid.getSelectionModel().on('rowselect', function () {
						console.info('row selected');
					});
					*/
				}
				
				
				createGrid();
				
				
				var searchForm;
				
				function createSearchForm() {
					searchForm = new Ext.FormPanel({
						width : 600,
						labelWidth : 75,
						frame : true,
						title : 'Live Player Search',
						bodyStyle : 'padding:5px 5px 0',
						defaults : { width : 230 },
						items : [{
							enableKeyEvents : true, /* Important for the listerners I need to add */
							xtype : 'textfield',
							fieldLabel : 'Search',
							name : 'q',
							id : 'q',
							allowBlank:true,
							listeners : {
								'keypress' : {
									fn : function(t) {
										console.log('Searching for : ' + Ext.getCmp('q').getValue());
										ds.load({
											params : { query : Ext.getCmp('q').getValue() }
										});
									},
									buffer : 300
								}
							}
						}],
						buttons : [{
							/* Just for completeness purposes, it is a regular POST to force */
							text : 'Search',
							handler : function () {
								ds.load({
									params : { query : Ext.getCmp('q').getValue() }
								});
							}
						}]
					});
					
					searchForm.render("searchWrapper");
				}
				
				createSearchForm();
				
				
				
				
				
				//now lets try to do something similar with an XTemplate and Combobox
    			
    			var ds2 = new Ext.data.Store({
					proxy : new Ext.data.HttpProxy({
						url : '{% url sc2tournament.views.player_search %}',
						method: 'GET'
					}),
					reader : new Ext.data.JsonReader({
						totalPropery : 'total',
						root : 'players',
						fields : ['name', 'region', 'character_code', 'last_sync', 'achievement_points', 'portrait_iconset', 'portrait_row', 'portrait_column']
					})
				});
    
				var playerTemplate = new Ext.XTemplate(
					'<tpl for="."><div class="search-item"><h3>{name}</h3>{character_code}</div></tpl>'
				);
				
				var newPlayerTemplate = new Ext.XTemplate(
				'<tpl for="."> \
				<div class="badge"> \
					<div class="portrait" style="background-image: url(\'{{ STATIC_URL }}img/portraits-{portrait_iconset}-75.jpg\'); background-position: -{portrait_column * 75} -{portrait_row * 75};">&nbsp;</div> \
					<div class="title"> \
						<span class="name"> \
							{name}<span class="code">#{character_code}</span> \
						</span> \
						<br/> \
						<span class="extra"> \
							Last profile sync : {last_sync} \
							<br/> \
							Achievement points : {achievement_points} \
							<br/> \
						</span> \
					</div> \
				</div> \
				</tpl>');
				
				
				var searchCombo = new Ext.form.ComboBox({
					id : 'player-combo',
					store : ds2,
					displayField : 'name',
					emptyText : 'Who do you want to add?',
					typeAhead : false,
					width : 415,
					//pageSize : 10,
					hideTrigger : true,
					tpl : newPlayerTemplate,
					applyTo : 'player-combo',
					minChars : 0,
					itemSelector : 'div.badge',
					listeners : {
						'select' : function(combo, record, index) {
							var readableName = record.data.name + "#" + record.data.character_code;
							console.info("User selected " + readableName);
							Ext.getCmp('player-combo').setValue(readableName);
						}
					}
					/* Not sure if I want to override the default onSelect, i should use listener instead... */
					/*
					onSelect : function(record) {
						var readableName = record.data.name + "#" + record.data.character_code;
						console.log('onSelect combobox selected ' + readableName);
						Ext.getCmp('player-combo').setValue(readableName);
					}
					*/
				});
				
			});
		</script>
	</head>
	<body>
		<p>This is a simple page to make sure that django &amp; extjs are working properly.</p>
		<p>More specifically it is useful for making sure staticfiles or your web server is configured correctly</p>
		<p>You are logged in as {{ user }}</p>
		<div id='wrapper'>
			<div id='searchWrapper'></div>
			<div id='playersGrid'></div>
			<br /><br />
			<div class="badge" id="test_badge">
				<div class="portrait">&nbsp;</div>
				<div class="title">
					<span class="name">
						{{ badge_test.name }}<span class="code">#{{ badge_test.character_code }}</span>
					</span>
					<br/>
					<span class="extra">
						Last profile sync : {{ badge_test.last_sync|date:"M fa Y" }}
						<br/>
						Achievement points : {{ badge_test.achievement_points }}
						<br/>
					</span>
				</div>
			</div>
			<br /><br />
			<input type="text" id='player-combo' size="100" />
			
			
			
		</div>
	</body>
</html>