

<a href="{% url sc2tournament.views.tournament_create %}">Create a new tournament!</a>


Tournaments I am Created!
<ul>
{% for t in my_tournaments %}
	<li><a href="{% url sc2tournament.views.test_tournament_page t.id %}">{{ t.id }} - {{ t.name }}</a></li>
{% endfor %}
</ul>





Tournaments I am IN...
<ul>
{% for t in my_current_tournaments %}
	<li><a href="{% url sc2tournament.views.test_tournament_page t.id %}">{{ t.id }} - {{ t.name }}</a></li>
{% endfor %}
</ul>





Tournaments I am Waiting On Approval from...
<ul>
{% for t in my_pending_tournaments %}
	<li>{{ t.id }} - {{ t.name }}</li>
{% endfor %}
</ul>





Tournaments available...
<ul>
{% for t in my_pending_tournaments %}
	<li>{{ t.id }} - {{ t.name }}</li>
{% endfor %}
</ul>



Tournaments I previously participated in...
<ul>
{% for t in my_previous_tournaments %}
	<li>{{ t.id }} - {{ t.name }}</li>
{% endfor %}
</ul>